@tailwind base;

@font-face {
  font-family: "Paralucent-Medium";
  src: url('../src/assets/fonts/paralucent/Paralucent-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}
  
@font-face {
  font-family: "Paralucent-DemiBold";
  src: url('../src/assets/fonts/paralucent/Paralucent-DemiBold.ttf');
  font-weight: normal;
  font-style: normal;
}
  
@font-face {
  font-family: "Paralucent-Light";
  src: url('../src/assets/fonts/paralucent/Paralucent-Light.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PolySans Trial";
  src: url('../src/assets/fonts/polysans-trial/PolySansTrial-Neutral.otf');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: "DM Sans";
  src: url('../src/assets/fonts/dm-sans/DMSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}


@tailwind components;
@tailwind utilities;


.blog-title {
  background: linear-gradient(91.58deg, #001873 0.13%, #011A91 101.16%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}

.empty-home-gradient {
  background: linear-gradient(152.35deg, rgba(1, 113, 253, 0.4) 16.92%, rgba(26, 229, 45, 0.4) 106.95%);
mix-blend-mode: darken;
filter: blur(158px);
transform: matrix(1, 0, 0, -1, 0, 0);
}
.safe-darky {
  background: linear-gradient(91.58deg, #001873 0.13%, #011A91 101.16%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}

.blog-author{
  background: linear-gradient(206.51deg, #01A0FF -0.2%, #0123F7 130.88%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}


.blog-active-btn {
  @apply p-[0.35rem] px-4  text-[#fff] rounded-3xl bg-safekeep-safeguard
}

.brand-btn-1{
  @apply bg-safekeep-blue rounded-md text-safekeep-white font-paralucentLight
}

.safe-gradient-glow {
  background: linear-gradient(152.35deg, #0171FD 16.92%, #1AE52D 106.95%);
}
.safe-gradient-safeguard {
  background: linear-gradient(206.51deg, #01A0FF -0.2%, #0123F7 130.88%);
}


.header-background {
  background-color: rgba(255, 255, 255, 0.944);
/* backdrop-filter: blur(10px); */
}

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}