@tailwind base;

@font-face {
  font-family: "Paralucent-Medium";
  src: url('../src/assets/fonts/paralucent/Paralucent-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}
  
@font-face {
  font-family: "Paralucent-DemiBold";
  src: url('../src/assets/fonts/paralucent/Paralucent-DemiBold.ttf');
  font-weight: normal;
  font-style: normal;
}
  
@font-face {
  font-family: "Paralucent-Light";
  src: url('../src/assets/fonts/paralucent/Paralucent-Light.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PolySans Trial";
  src: url('../src/assets/fonts/polysans-trial/PolySansTrial-Neutral.otf');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: "DM Sans";
  src: url('../src/assets/fonts/dm-sans/DMSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "DM Sans"
}

.hero-gradient {
  background: radial-gradient(23.25% 62.06% at 25.12% 71.26%, #B1D5FF 0%, #E5F1FF 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}

.linear-gradient{
  background: linear-gradient(152.35deg, rgba(1, 113, 253, 0.4) 16.92%, rgba(26, 229, 45, 0.4) 106.95%);
  mix-blend-mode: darken;
  filter: blur(158px);
  transform: rotate(-90deg);
}

.box-one{
  box-shadow: 0px 0.909091px 2.72727px rgba(16, 24, 40, 0.1), 0px 0.909091px 1.81818px rgba(16, 24, 40, 0.06);
}

.box-white {
  /* box-shadow: 0px -8px 10px 0px white;
  box-shadow: 0px -10px 10px -5px white; */
  box-shadow: -1px -26px 36px 44px rgba(255,255,255,1);
  /* box-shadow: 0px 0.909091px 2.72727px rgba(16, 24, 40, 0.1), 0px 0.909091px 1.81818px rgba(16, 24, 40, 0.06); */


}

@tailwind components;
@tailwind utilities;


.blog-title {
  background: linear-gradient(91.58deg, #001873 0.13%, #011A91 101.16%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}

.empty-home-gradient {
  background: linear-gradient(152.35deg, rgba(1, 113, 253, 0.4) 16.92%, rgba(26, 229, 45, 0.4) 106.95%);
mix-blend-mode: darken;
filter: blur(158px);
transform: matrix(1, 0, 0, -1, 0, 0);
}
.safe-darky {
  background: linear-gradient(91.58deg, #001873 0.13%, #011A91 101.16%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}

.blog-author{
  background: linear-gradient(206.51deg, #01A0FF -0.2%, #0123F7 130.88%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}


.blog-active-btn {
  @apply p-[0.35rem] px-4  text-[#fff] rounded-3xl bg-safekeep-safeguard
}

.brand-btn-1{
  @apply bg-safekeep-blue rounded-md text-safekeep-white font-paralucentLight
}

.pill-btn-grey {
  @apply bg-safe-light-700 rounded-2xl text-safekeep-white  text-xl py-1 px-4 mb-6 uppercase
}

.safe-gradient-glow {
  background: linear-gradient(152.35deg, #0171FD 16.92%, #1AE52D 106.95%);
}
.safe-gradient-safeguard {
  background: linear-gradient(206.51deg, #01A0FF -0.2%, #0123F7 130.88%);
}


.header-background {
  background-color: rgba(255, 255, 255, 0.944);
/* backdrop-filter: blur(10px); */
}

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.box-shadow-one {
  box-shadow: 0px 0.909091px 2.72727px rgba(16, 24, 40, 0.1), 0px 0.909091px 1.81818px rgba(16, 24, 40, 0.06);
}